USE [master]
GO
/****** Object:  Database [CoffeeShopDb]    Script Date: 5/21/2026 8:02:40 PM ******/
CREATE DATABASE [CoffeeShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoffeeShopDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CoffeeShopDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoffeeShopDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CoffeeShopDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeShopDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK__Categori__19093A0BCCD8340B] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Customer__A4AE64D864EF4D22] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Value] [float] NOT NULL,
	[ExpiredDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PublicId] [uniqueidentifier] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK__Employee__7AD04F11C2D61717] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NULL,
	[TableId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ReservationId] [int] NULL,
	[OrderTime] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountId] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Orders__C3905BCF2EB59461] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaymentTime] [datetime] NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsAvailable] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UnitsInStock] [int] NULL,
 CONSTRAINT [PK__Products__B40CC6CD22FC355F] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TableId] [int] NOT NULL,
	[ReservationTime] [datetime] NOT NULL,
	[NumberOfGuests] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableEntities]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableEntities](
	[TableId] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [nvarchar](50) NOT NULL,
	[TableNumber] [int] NOT NULL,
	[FloorNumber] [int] NOT NULL,
	[RecommendedCapacity] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[MaxCapacity] [int] NOT NULL,
 CONSTRAINT [PK__TableEnt__7D5F01EE20E26DB1] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/21/2026 8:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [PublicId], [CategoryName], [Description]) VALUES (1, N'7a31910f-9413-45bc-84bc-ed816f76e612', N'Coffees', NULL)
INSERT [dbo].[Categories] ([CategoryId], [PublicId], [CategoryName], [Description]) VALUES (2, N'9a80cd46-a68b-448b-af7a-2d0a643ba0ef', N'Snacks', NULL)
INSERT [dbo].[Categories] ([CategoryId], [PublicId], [CategoryName], [Description]) VALUES (3, N'7f77ad01-b329-42ac-9bf4-03b4afd1771b', N'Cakes', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [PublicId], [FullName], [Phone], [CreatedAt]) VALUES (2, N'0b8d6d31-351b-4fba-9866-13c2dbf35d4c', N'Trần Ngọc Hà', N'0394611075', NULL)
INSERT [dbo].[Customers] ([CustomerId], [PublicId], [FullName], [Phone], [CreatedAt]) VALUES (3, N'5198f05a-7ca7-4095-9163-598ed25833e5', N'Nguyễn Minh Kiên', N'0981112225', CAST(N'2026-05-21T19:10:11.9588287' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountId], [DiscountCode], [Type], [Value], [ExpiredDate], [CreatedAt], [UpdatedAt]) VALUES (3, N'F10D2EB6B7', N'Flat', 10000, CAST(N'2030-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-19T19:51:29.4183443' AS DateTime2), CAST(N'2026-05-19T19:51:29.4183443' AS DateTime2))
INSERT [dbo].[Discounts] ([DiscountId], [DiscountCode], [Type], [Value], [ExpiredDate], [CreatedAt], [UpdatedAt]) VALUES (4, N'F20D710241', N'Flat', 20000, CAST(N'2030-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-19T19:51:29.4193458' AS DateTime2), CAST(N'2026-05-19T19:51:29.4193458' AS DateTime2))
INSERT [dbo].[Discounts] ([DiscountId], [DiscountCode], [Type], [Value], [ExpiredDate], [CreatedAt], [UpdatedAt]) VALUES (5, N'F15D5BEE13', N'Flat', 15000, CAST(N'2030-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-19T19:51:29.4193458' AS DateTime2), CAST(N'2026-05-19T19:51:29.4193458' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [UserId], [PublicId], [FullName], [Phone], [Position]) VALUES (1, 2, N'0bb4748a-5470-4d89-9c8c-dad21a20e6af', N'Nguyễn Văn A', N'0123456789', N'Cashier')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice], [LineTotal]) VALUES (1, 1, 3, 1, CAST(40000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice], [LineTotal]) VALUES (2, 1, 2, 1, CAST(45000.00 AS Decimal(18, 2)), CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice], [LineTotal]) VALUES (1002, 2, 1, 1, CAST(40000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [PublicId], [TableId], [EmployeeId], [ReservationId], [OrderTime], [Status], [SubTotal], [DiscountId], [TotalAmount], [Note], [CreatedAt]) VALUES (1, N'7a316aaa-f5df-4dd9-8731-40c4544f46c8', 1, 1, NULL, CAST(N'2026-05-19T13:49:32.463' AS DateTime), N'Paid', CAST(85000.00 AS Decimal(18, 2)), 11, CAST(85000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-05-19T13:49:33.2990071' AS DateTime2))
INSERT [dbo].[Orders] ([OrderId], [PublicId], [TableId], [EmployeeId], [ReservationId], [OrderTime], [Status], [SubTotal], [DiscountId], [TotalAmount], [Note], [CreatedAt]) VALUES (2, N'ed7d4fb6-ecc3-4457-bf70-3b61fe24fb04', 5, 1, NULL, CAST(N'2026-05-20T16:05:19.900' AS DateTime), N'Cancelled', CAST(40000.00 AS Decimal(18, 2)), 3, CAST(40000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-05-20T16:05:19.9030131' AS DateTime2))
INSERT [dbo].[Orders] ([OrderId], [PublicId], [TableId], [EmployeeId], [ReservationId], [OrderTime], [Status], [SubTotal], [DiscountId], [TotalAmount], [Note], [CreatedAt]) VALUES (3, N'cd4610c5-3b95-478c-98d5-0e5fbe94d312', 1, 1, NULL, CAST(N'2026-05-20T16:05:41.250' AS DateTime), N'Cancelled', CAST(45000.00 AS Decimal(18, 2)), 9, CAST(45000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-05-20T16:05:41.2509394' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentTime], [PaymentMethod], [PaidAmount], [Note]) VALUES (1, 1, CAST(N'2026-05-20T15:57:36.690' AS DateTime), N'Cash', CAST(85000.00 AS Decimal(18, 2)), N'Thanh toán hóa đơn')
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentTime], [PaymentMethod], [PaidAmount], [Note]) VALUES (2, 4, CAST(N'2026-05-20T16:11:25.003' AS DateTime), N'Cash', CAST(8000.00 AS Decimal(18, 2)), N'Thanh toán hóa đơn')
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentTime], [PaymentMethod], [PaidAmount], [Note]) VALUES (1002, 1002, CAST(N'2026-05-21T15:18:14.623' AS DateTime), N'Cash', CAST(40000.00 AS Decimal(18, 2)), N'Thanh toán hóa đơn')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [PublicId], [ProductName], [CategoryId], [Price], [ImageUrl], [Description], [IsAvailable], [CreatedAt], [UnitsInStock]) VALUES (1, N'48d5bb17-3977-44e8-8328-033cb6a6bb1c', N'Espresso', 1, CAST(40000.00 AS Decimal(18, 2)), N'https://www.sharmispassions.com/wp-content/uploads/2012/07/espresso-coffee-recipe022.jpg', N'Cà phê nguyên chất được pha bằng áp suất cao, đậm đà và thơm nồng, là nền tảng của hầu hết các món cà phê Ý.', 1, CAST(N'2026-05-04T15:46:07.077' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductId], [PublicId], [ProductName], [CategoryId], [Price], [ImageUrl], [Description], [IsAvailable], [CreatedAt], [UnitsInStock]) VALUES (2, N'3eca487c-b4a9-4a36-a36e-94964939b71f', N'Doppio', 1, CAST(45000.00 AS Decimal(18, 2)), N'https://cdn.shopify.com/s/files/1/0838/4525/files/Doppio_Espresso_1024x1024.jpg?v=1765302631', N'Phiên bản gấp đôi của Espresso với 2 shot cà phê, mang hương vị mạnh mẽ và lượng caffeine cao hơn.', 1, CAST(N'2026-05-04T15:46:07.077' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductId], [PublicId], [ProductName], [CategoryId], [Price], [ImageUrl], [Description], [IsAvailable], [CreatedAt], [UnitsInStock]) VALUES (3, N'4efcd947-9929-46f5-9f0d-895c67576c91', N'Americano', 1, CAST(40000.00 AS Decimal(18, 2)), N'https://file.hstatic.net/200000079049/file/americano-1_6b32372e76b84139a0b4935c96d49d05.jpeg', N'Espresso pha loãng với nước nóng, giữ hương vị cà phê đậm nhưng nhẹ nhàng và dễ uống hơn.', 1, CAST(N'2026-05-04T15:46:07.077' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationId], [CustomerId], [TableId], [ReservationTime], [NumberOfGuests], [Status], [Note], [CreatedAt]) VALUES (1, 2, 1, CAST(N'2026-05-20T14:22:00.000' AS DateTime), 1, N'Pending', NULL, CAST(N'2026-05-19T14:22:36.660' AS DateTime))
INSERT [dbo].[Reservations] ([ReservationId], [CustomerId], [TableId], [ReservationTime], [NumberOfGuests], [Status], [Note], [CreatedAt]) VALUES (2, 3, 1, CAST(N'2026-05-22T19:00:00.000' AS DateTime), 1, N'Pending', NULL, CAST(N'2026-05-21T19:10:12.520' AS DateTime))
INSERT [dbo].[Reservations] ([ReservationId], [CustomerId], [TableId], [ReservationTime], [NumberOfGuests], [Status], [Note], [CreatedAt]) VALUES (3, 3, 12, CAST(N'2026-05-22T19:00:00.000' AS DateTime), 4, N'Pending', NULL, CAST(N'2026-05-21T19:20:30.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Customer', NULL)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'Manager', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TableEntities] ON 

INSERT [dbo].[TableEntities] ([TableId], [Shape], [TableNumber], [FloorNumber], [RecommendedCapacity], [Status], [IsActive], [MaxCapacity]) VALUES (1, N'Square', 1, 1, 2, N'Available', 1, 3)
INSERT [dbo].[TableEntities] ([TableId], [Shape], [TableNumber], [FloorNumber], [RecommendedCapacity], [Status], [IsActive], [MaxCapacity]) VALUES (2, N'Square', 2, 1, 2, N'Available', 1, 3)
INSERT [dbo].[TableEntities] ([TableId], [Shape], [TableNumber], [FloorNumber], [RecommendedCapacity], [Status], [IsActive], [MaxCapacity]) VALUES (3, N'Square', 3, 1, 2, N'Occupied', 1, 3)
SET IDENTITY_INSERT [dbo].[TableEntities] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [RoleId]) VALUES (2, N'nv1', N'2610001@koppee.edu.vn', N'$2a$11$BnOqyrMrf9CiGpd2dDB9cOSPzysUbcIYkU1lh4Ekw1Eg13P3JWu8G', CAST(N'2026-05-17T12:51:13.3074075' AS DateTime2), 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers]    Script Date: 5/21/2026 8:02:42 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [IX_Customers] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Discounts]    Script Date: 5/21/2026 8:02:42 PM ******/
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [IX_Discounts] UNIQUE NONCLUSTERED 
(
	[DiscountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees]    Script Date: 5/21/2026 8:02:42 PM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [IX_Employees] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_1]    Script Date: 5/21/2026 8:02:42 PM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [IX_Employees_1] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TableEntities]    Script Date: 5/21/2026 8:02:42 PM ******/
ALTER TABLE [dbo].[TableEntities] ADD  CONSTRAINT [IX_TableEntities] UNIQUE NONCLUSTERED 
(
	[TableNumber] ASC,
	[FloorNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_PublicId]  DEFAULT (newid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_PublicId]  DEFAULT (newid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_Type]  DEFAULT ('Flat') FOR [Type]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_Value]  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_PublicId]  DEFAULT (newid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PublicId]  DEFAULT (newid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__OrderTim__6754599E]  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Status__68487DD7]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__SubTotal__693CA210]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Discount__6A30C649]  DEFAULT ((0)) FOR [DiscountId]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__TotalAmo__6B24EA82]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentTime]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_PublicId]  DEFAULT (newid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__IsAvai__5535A963]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Create__5629CD9C]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitsInStock]  DEFAULT ((0)) FOR [UnitsInStock]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TableEntities] ADD  CONSTRAINT [DF__TableEnti__Capac__71D1E811]  DEFAULT ((2)) FOR [RecommendedCapacity]
GO
ALTER TABLE [dbo].[TableEntities] ADD  CONSTRAINT [DF__TableEnti__Statu__72C60C4A]  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[TableEntities] ADD  CONSTRAINT [DF__TableEnti__IsAct__73BA3083]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TableEntities] ADD  CONSTRAINT [DF_TableEntities_MaxCapacity]  DEFAULT ((2)) FOR [MaxCapacity]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_RoleId]  DEFAULT ((1)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Reservations] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([ReservationId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Reservations]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Tables] FOREIGN KEY([TableId])
REFERENCES [dbo].[TableEntities] ([TableId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tables]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Customers]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Tables] FOREIGN KEY([TableId])
REFERENCES [dbo].[TableEntities] ([TableId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Tables]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products] CHECK  (([UnitsInStock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products]
GO
ALTER TABLE [dbo].[TableEntities]  WITH CHECK ADD  CONSTRAINT [CK_FloorNumber] CHECK  (([FloorNumber]>(0)))
GO
ALTER TABLE [dbo].[TableEntities] CHECK CONSTRAINT [CK_FloorNumber]
GO
ALTER TABLE [dbo].[TableEntities]  WITH CHECK ADD  CONSTRAINT [CK_MaxCap] CHECK  (([MaxCapacity]>=(2)))
GO
ALTER TABLE [dbo].[TableEntities] CHECK CONSTRAINT [CK_MaxCap]
GO
ALTER TABLE [dbo].[TableEntities]  WITH CHECK ADD  CONSTRAINT [CK_RecCap] CHECK  (([RecommendedCapacity]>=(2)))
GO
ALTER TABLE [dbo].[TableEntities] CHECK CONSTRAINT [CK_RecCap]
GO
ALTER TABLE [dbo].[TableEntities]  WITH CHECK ADD  CONSTRAINT [CK_TableNumber] CHECK  (([TableNumber]>(0)))
GO
ALTER TABLE [dbo].[TableEntities] CHECK CONSTRAINT [CK_TableNumber]
GO
USE [master]
GO
