@using Microsoft.AspNetCore.Components.Authorization
@using BlazorApp.Auth
@using System.Security.Claims
@inject NavigationManager NavigationManager

<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">KOPPEE</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a class="nav-item nav-link" href="/">Trang Chủ</a>
                <a class="nav-item nav-link" href="/Home/About">Về Chúng Tôi</a>
                <a class="nav-item nav-link" href="/Home/Service">Dịch Vụ</a>
                <a class="nav-item nav-link" href="/Product">Thực Đơn</a>
                <a class="nav-item nav-link" href="/Home/Testimonial">Phản Hồi</a>
                <a href="/Home/Contact" class="nav-item nav-link">Liên Hệ</a>

                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item dropdown ml-3">
                            <a class="nav-link dropdown-toggle text-primary font-weight-bold"
                               data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="fa fa-user mr-1"></i>@context.User.Identity?.Name
                            </a>
                            <div class="dropdown-menu">
                                <a href="/logout" class="dropdown-item text-danger">
                                    <i class="fa fa-sign-out-alt mr-2"></i>Đăng xuất
                                </a>
                            </div>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login" class="btn btn-primary font-weight-bold ml-3">
                            <i class="fa fa-sign-in-alt mr-1"></i>Đăng Nhập
                        </a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
<AuthorizeView Roles="Manager, Employee">
    <Authorized>
        <div class="container-fluid p-0 nav-bar">
            <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-warning font-weight-bold"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="fa fa-list mr-2"></i>Quản lý hóa đơn
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="/Order/POS">
                                            <i class="fa fa-cash-register mr-2"></i>Hệ thống POS
                                        </a>
                                        <a class="dropdown-item"
                                           href="/Order/Index">
                                            <i class="fa fa-list mr-2"></i>Danh sách hóa đơn
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-warning font-weight-bold"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="fa fa-calendar-week mr-2"></i>Quản lý đặt bàn
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="/Reservation/Schedule">
                                            <i class="fa fa-calendar-week mr-2"></i>Lịch đặt bàn
                                        </a>
                                        <a class="dropdown-item"
                                           href="/Reservation/Create">
                                            <i class="fa fa-calendar-plus mr-2"></i>Tạo đặt bàn
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-warning font-weight-bold"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="bi bi-person-badge-fill"></i>Quản lý Khách hàng
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="/Manager/Customers/Index">
                                            <i class="bi bi-person-badge-fill"></i>Danh sách khách hàng
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-warning font-weight-bold"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="bi bi-person-badge"></i>Quản lý nhân viên
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="/Manager/Employees/Index">
                                            <i class="bi bi-person-badge"></i>Danh sách nhân viên
                                        </a>
                                        <a class="dropdown-item"
                                           href="/Manager/Employees/Create">
                                            <i class="bi bi-person-badge"></i>Thêm nhân viên
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-warning font-weight-bold"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-expanded="false">
                                        <i class="bi bi-cup-hot-fill mr-2"></i>Quản lý sản phẩm
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="/Product/Index">
                                            <i class="bi bi-cup-hot-fill mr-2"></i>Danh sách sản phẩm
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>
